body{
    font-family: 'Oxygen', sans-serif;
    font-size:16px;
    font-weight: 400;
}
a:hover{
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: inherit;
}
input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}
.slicknav_menu .slicknav_btn:focus {
    outline: 1px solid #fff;
}
main#main {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}
.main-navigation ul li ul li {
    display: block;
    width: 100%;
} 
.baby-container {
    width: auto;
    max-width: 1500px;
}
.main-navigation ul li.hover{
    opacity: 1;
}
.xmenu-bar{
    background: #000;
}
.xmenu-bar.text-right .menu-main-menu-container {
    text-align: right;
}
.full-width .content-area {
    width: 100%;
    margin: 0;
}

/*Topbar style*/
.top-bar {
    background: #000;
    padding:5px 0;
}

.top-bar,
.top-bar a {
    color: #fff;
    font-size: 14px;
}
.top-time {
    display: inline-block;
}

.topbar-menu {
    display: inline-block;
    float: right;
}

ul#top-menu,
.top-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#top-menu li,
.top-navigation ul li {
    display: inline-block;
    margin-right: 10px;
}
a{
    transition: 0.5s;
}
ul#top-menu li {
    position: relative;
}
.widget ul {
    list-style: inside;
    margin: 0;
    padding: 0;
}
ul#top-menu li ul {
    position: absolute;
    top: 22px;
    left: 0;
    background: #000;
    z-index: 99;
    display: inline-block;
    width: auto;
    transform: scale(0);
    transition: 0.5s;
    visibility: hidden;
}

ul#top-menu li ul li a {
    padding: 10px 14px;
    display: block;
}

ul#top-menu li ul li {
    margin-right: 0;
}

ul#top-menu li:hover ul,
ul#top-menu li.hover ul {
    transform: scale(1);
    visibility: visible;
}
header.page-header {
    text-align: center;
}
h1.entry-title {
    text-transform: uppercase;
    font-size: 36px;
}
h2.widget-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
    background: #222;
    color: #fff;
}
.nav-links {
    margin: 20px;
}
nav#site-navigation {
    text-align: center;
}
nav#site-navigation ul a{
    text-align: left;
}
.site-title {
    line-height: 60px;
}
article .entry-content {
    margin-top: 0;
}
.site-main article .entry-header {
    padding: 15px 15px 0 15px;
}
.site-main article .content-list .entry-header {
    padding: 0;
}
header.baby-head-img .no-header-img .site-branding {
    position: inherit;
    margin: 0;
    padding: 30px 0;
}
.redmore-btn {
    margin-bottom: 1.5em;
    display: block;
    text-align: center;
}
header.baby-head-img .site-branding{
    background: transparent !important;
}
header.baby-head-img .site-branding
.baby-head-img p.site-description{
    color: inherit;
}
.baby-head-img p.site-description {
    color: #000;
    display: inline-block;
    background: rgba(255,255,255,0.7);
    padding: 10px 30px;
    border-radius: 5px;
}
.hentry, .comments-area, 
.site-main section, 
.site-main .post-navigation, 
.site-main .posts-navigation, 
.paging-navigation, .widget, 
.page-header {
    background: #fff;
    box-shadow: 0 0.2rem 2.8rem rgba(36,36,36,.1);
    -webkit-box-shadow: 0 0.2rem 2.8rem rgba(36,36,36,.1);
}
.main-navigation ul li ul {
    transition: 0.5s;
}
.main-navigation ul li a {
    font-size: 16px;
}
button.mini-toggle {
    background: transparent;
    border: none;
    display: none;
}
    .menu-toggle {
    display: none;
    }
    .main-navigation ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }

    .main-navigation.text-left ul {
        justify-content: flex-start;
    }
    .main-navigation.text-right ul {
        justify-content: flex-end;
    }

    button.menu-toggle span.mshow {
        display: block;
    }
    .toggled button.menu-toggle span.mshow {
        display: none;
    }
    button.menu-toggle span.mhide {
        display: none;
    }
    .toggled button.menu-toggle span.mhide {
        display: block;
    }
    button.screen-reader-text.mmenu-hide{
        display: none;
    }
@media (max-width: 991px){
    button.screen-reader-text.mmenu-hide {
        display: block;
        position: absolute;
        bottom: 0 !important;
        left: auto;
        right: 0;
        margin-left: auto;
        top: auto !important;
        padding: 0px 20px !important;
        line-height: 28px;
        margin-bottom: 8px;
    }
    .main-navigation.toggled ul {
        max-height: 10000px;
        visibility: visible;
        opacity: 1;
        margin: 0
    }
    button.menu-toggle {
        background: #222;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid #fff;
        display: inline-block;
        margin: 5px 0;
        padding: 10px 20px;
    }
    .main-navigation ul li ul {
        position: inherit;
        top: 0;
    }
    li.menu-item.befocus.menushow ul.sub-menu {
        display: none !important;
    }
    button.mmenu-hide {
        position: absolute;
        bottom: 5px;
        right: 5px;
        border: 2px solid #ededed;
    }
    .main-navigation ul {
        display: block;
        height: auto;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        max-height: 0;
    }
    .menu-toggle {
        display: block;
    }
    .main-navigation ul button.mini-toggle {
        display: block;
        width: 40px;
        height: 40px;
        top: 7px;
        right: -10px;
        border: 1px solid #ededed;
        position: absolute;
        z-index: 99999;
    }
    .main-navigation ul ul button.mini-toggle {
        top: 7px;
        right: 4px;
    }
    .main-navigation ul >li {
        position: relative;
        width: 95%;
        display: inline-block;
        min-width: 240px;
        max-width: 600px;
    }
    button.mini-toggle:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #fff;
    left: 13px;
    top: 15px;
}

.main-navigation ul li.menu-item.menu-item-has-children > a:after {
    opacity: 0;
}
    .mini-toggle, .main-navigation .menu-item-has-children:before, .page_item_has_children:before {
        right: 7px;
    }
    .main-navigation ul ul .mini-toggle,
    .main-navigation ul ul .menu-item-has-children:before,
    .main-navigation ul ul .page_item_has_children:before {
        right: -4px;
    }
    .xmenu-bar ul li a {
        border-right: none; 
        border-left: none;
        display: inline-block;
    }
    .xmenu-bar ul li {
        border-bottom: 1px solid #555;
    }
    .main-navigation ul ul ul,
    .main-navigation ul ul {
        position: inherit;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        visibility: visible;
    }
    .main-navigation ul ul ul {
        left:5px !important;
    }
    .main-navigation ul> ul> ul,
    .main-navigation ul> li> ul.sub-menu,
    .main-navigation ul> li> ul.children {
        display: none !important;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    li.menu-item.menu-item-has-children.befocus ul.sub-menu {
        display: block;
        height: 100%;
        opacity: 1;
        visibility: visible;
        width: 100%;
    }
    .main-navigation ul> ul> ul,
    .main-navigation ul> li.menushow> ul.sub-menu,
    .main-navigation ul> li.befocus> ul.sub-menu,
    .main-navigation ul> li.befocus> ul.children,
    .main-navigation ul> li.menushow> ul.children {
        display: block !important;
        max-height: 10000px;
        height: auto;
        opacity: 1;
        visibility: visible;
        overflow: inherit;
        bottom: 0px;
        width: 100%;
 }


    .xmenu-bar ul li.page_item_has_children a,
    .mini-toggle, .xmenu-bar ul li.menu-item-has-children a {
    padding-right: 5px;
    }


}







.site-content .widget-area {
    overflow: inherit;
}
.xgrid-item h2.entry-title {
    font-size: 22px;
}
.xgrid-item span.comments-link {
    display: block;
}
.xgrid-item .no-img {
    min-height: 13px;
    background: transparent;
    margin-bottom: 10px;
}
.site-main article {
    margin-bottom: 80px;
}
aside section.widget {
    margin-bottom: 50px;
}
.entry-meta span a, .entry-footer span a{
    font-size: inherit;
}
.post-meta span {
    margin-right: 5px;
}
.footer-meta.entry-meta {
    display: flex;
    flex-flow: row wrap;
    background: #ededed;
    padding: 20px;
    align-items: baseline;
    vertical-align: unset;
    max-height: 80px;
    width: 100%;
}

.footer-meta.entry-meta span {
    margin-right: 8px;
}
.post-meta, 
.post-meta i, 
.post-meta a {
    font-size: 14px;
    color: #999;
}
.post-meta a:hover {
    color: #222;
}
.post-meta i {
    margin-right: 2px;
}
.baby-feature-image {
    margin-top: 0;
}
.site-main article{
    padding: 0;
}
.image-hide {
    height: 25px;
    display: block;
    width: 100%;
    overflow: hidden;
}
.site-main .entry-header,
.entry-summary,
.site-main .entry-content{
   padding: 30px;
}
.xgrid-item .entry-content {
    padding: 20px 20px 10px;
}
.xgrid-item .entry-content{
    padding-top: 5px;
}
.top-cat.post-meta.grid-cat {
    padding: 0 20px;
    text-align: center;
}
a.more-link{
    box-shadow:inherit;
    transition: 0.5s;
    width:auto;
    display: inline-block;
}
.widget ul li {
    border-bottom: 1px solid #555;
    padding: 6px 0;
}
.footer-widget-area {
    overflow: hidden;
    background: #222;
    padding: 50px 0;
}
.footer-widget-area h2.widget-title {
    background: #fff;
    color:#000;
}
.footer-widget-area,
.footer-widget-area p,
.footer-widget-area a{
    color: #fff;
}
.footer-widget-area a:hover{
    color: #ccc;
}
section.footer-widget {
    width: 32%;
    float: left;
    margin: 0 1.33% 15px 0;
    border: 1px solid #555;
}
/*Content list style*/

.site-main article.xgrid-item {
    width: 32%;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}
a.more-link {
    margin-bottom: 10px;
}

.site-main .redmore-btn {
    margin-bottom: 0;
}

.xgrid-item:nth-child(3n+2){
    margin-left: 2%;
    margin-right: 2%;
}

.xgrid-item .baby-feature-image {
    height: 190px;
    overflow: hidden;
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    width: 100%;
}

.site-main .comment-navigation .nav-links,
.site-main .posts-navigation .nav-links, 
.site-main .post-navigation .nav-links {
    display: flex;
    flex-flow: row wrap;
}
a.more-link{
    position: relative;
    transition: 0.5s;
}
a.more-link:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30%;
    height: 2px;
    transition: 0.5s;
    background: #ededed
}
a.more-link:hover:after{
    width: 100%
}
a.more-link:before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 30%;
    height: 2px;
    transition: 0.5s;
    background: #ededed
}
a.more-link:hover:before{
    width: 100%
}
.baby-feature-image {
    overflow: hidden;
}
.baby-feature-image img {
    transition: 0.5s;
    transform: scale(1);
}
.baby-feature-image:hover img {
    transform: scale(1.1);
}
.content-list .redmore-btn {
    text-align: left;
    display: inline-block;
}
.top-cat.post-meta.list-cat {
    display: inline-block;
    float: right;
    margin-top: 8px;
}
.entry-meta.post-meta.list-meta {
    margin-top: -12px;
}

.list-content .entry-content {
    margin-top: 0;
    padding: 0;
}

.content-list a.more-link {
    border: inherit;
    margin: -10px 0 0 0;
    padding: 0;
}

.content-list a.more-link:hover {
    background: inherit;
}
.footer-widget-area .widget {
    box-shadow: inherit;
    background: inherit;
}
.widget-footer .widget-items {
    display: flex;
    flex-flow: row wrap;
}
/*Pagination style*/
.pagination .nav-links a, .pagination .nav-links span {
    border: 1px solid #ededed;
    padding: 5px 11px;
    box-shadow: 0 0.2rem 2.8rem rgba(36,36,36,.1);
    -webkit-box-shadow: 0 0.2rem 2.8rem rgba(36,36,36,.1);
}

.pagination .nav-links a:hover, .pagination .nav-links .page-numbers.current {
    background: #000;
    color: #fff;
}

nav.navigation.pagination {
    text-align: center;
    display: block;
    width: 100%;
    overflow: hidden;
}
.tagcloud a {
    border: 1px solid #ededed;
}
.comments-area {
    display: block;
    width: 100%;
}
@media only screen and (max-width: 991px) {
    body{
    font-size:16px;
    line-height: 1.4
    }
    .site-main article {
    margin-bottom: 50px;
    }
    aside section.widget {
    margin-bottom: 30px;
    }
    .page-content, .entry-content, .entry-summary {
    margin-top: 0;
}
a.more-link {
    width: 130px;
    font-size: 12px;
}
.card h2.entry-title {
    font-size: 20px;
}
.site-main article.card .entry-header {
    padding: 30px 10px 0 10px;
}
.site-main article.card .entry-content {
    padding: 30px 15px;
}
    .list-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    }
    .list-content {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding:10px;
    }



}
@media only screen and (max-width: 768px) {
    nav#site-navigation{
        display: block !important;
    }
    header.baby-head-img .no-header-img .site-branding {
    padding: 20px 0;
    }
    .site-main article.xgrid-item {
    width: 100%;
    float: left;
    min-height: inherit;
    margin-bottom: 20px;
    }
    section.footer-widget {
        width:100% !important;
    }
    section.footer-widget {
        margin: 0 0 15px !important;
    }
    .xgrid-item:nth-child(3n+2){
        margin-left: 0;
        margin-right: 0;
    }
    .xgrid-item .baby-feature-image img {
    height: auto;
    }
    a.more-link {
    width: inherit;
    font-size: inherit;
    }
    .top-bar{
    display: none;
    }
    header.baby-head-img .site-branding {
    padding: 10px;
    }
    .site-title {
    font-size: 35px;
    }
    .baby-head-img p.site-description{
        padding: 10px 18px;
        margin-top: -10px;
    }
    .comment-navigation .nav-previous, 
    .posts-navigation .nav-previous, 
    .post-navigation .nav-previous{
        width:100%;
        float: inherit;
    }
    .comment-navigation .nav-next, 
    .posts-navigation .nav-next, 
    .post-navigation .nav-next{
        width:100%;
        float: inherit;
        text-align: right; 
    }
}
